@use "./breakpoints" as *;

@mixin flex-left() {
    display: flex;
    justify-content:left;
    align-items: center;
}

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}