@use "./partials/global";
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

.header {
    

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    &__container {
        background-color: $bandSite-Black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @include tablet{
        background-color: $bandSite-Black;
        display: flex;
        align-items: center;
        padding-left: 2rem;

    }

    @include desktop{
        background-color: $bandSite-Black;
        display: flex;
        align-items: center;
        padding-left: 2rem;

    }

}

.top-nav {
    background-color: $bandSite-Black;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}

.hero {
    background-image: url("../assets/Images/hero-bio.jpg");
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include flex-left;

    &__bandName {
        margin: 0;
        color: #fff;
        margin-left: 1rem;

    }
}

.bandInfo{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__photo{
        
        @include tablet { 
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__quote {
        font-weight: bold;    
    }

    &__speaker{
        font-weight: bold;
        font-size: 0.8rem;
        margin-top: 0px;
    }

    &__intro{
        
        
        @include tablet {
            display: flex;
            padding: 1rem;
        }
    } 
    
}


.main {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.gallery {
    width: 100%;
    background-color: $color-quaternary;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4rem;


    @include tablet{
        justify-content: center;
        
    }
    @include desktop{
        justify-content: center;
        
    }

    &__heading{
        display: flex;
        justify-content: flex-start;
        width: 100vw;
        margin-left: 1rem;
    }

    

}

.galleryPhoto {
    display: flex;
    max-width: 50%;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1rem;


    &__image {
        width: 100%;
        @include tablet {
            width: calc(35% - 2rem);
            max-width: 30rem;
        }
        
    }
}

.comment, .comment_list {
    display: flex;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1.875rem;
  }
  
  #comments-container {
    width: 100%;
  }
  
  .comment_list {
    width: 100%;
    border-bottom: 0;
  }
  
  .comment_list_date {
    color: #bfbfbf;
  }
  
  .comment_list_top {
    display: flex;
    justify-content: space-between;
  }
  
  .comment_img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
  }
  
  .comment_list_img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
    margin-top: 0;
  }
  
  .comment_right, .comment_list_right {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .comment_title {
    color: #c0c0c0;
  }
  
  .comment_inp {
    width: 100%;
    height: 3.125rem;
    border: 1px solid #f3f3f3;
    background: #fafafa !important;
    padding: 0 0.625rem;
  }
  
  .comment_textarea {
    height: 7.5rem;
    padding: 0.625rem;
    width: 100%;
    border: 1px solid #f3f3f3;
    background: #fafafa !important;
  }
  
  .content_btn {
    margin-left: auto;
    padding: 0.625rem 1.875rem;
    background: #323232;
    border-radius: 0.3125rem;
    color: #fff;
  }
  
  .mt-30px {
    margin-top: 1.875rem;
  }
  
  .mt-15px {
    margin-top: 0.9375rem;
  }
  
  .bg-white {
    background: #fff;
  }
  

.footer{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: $bandSite-Black;
    color: #fff;
    
    section {
        margin: 1rem;
    }

    
    &__social{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;    
    }

    &__icons {
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-start;
        // align-items: center;
        margin-right: 1rem;
    }
}

.bottomBanner{
    
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: $bandSite-Black;
    * {
        margin: 1rem;
    }

    

    &__logo{
        max-width: 15rem;
        
        @include tablet{
            display: none;
        }
    }

    &__text{
        color: #fff;

    }
}



